.clients {
    padding: 40px 0;

    @media screen and (max-width: 1199px) {
        padding: 20px 0;
    }
}

.clients__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * + *:last-child {
        margin-top: 16px;
    }
}

.clients__logo {
    padding: 25px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    & > * {
        flex-shrink: 0;
        transition: opacity 0.2s ease;
    }

    & > *:hover:not(.link) {
        opacity: 0.6;
    }

    @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0px, 1fr));
        gap: 20px;
        justify-items: center;
    }
}